/Makefile
/Makefile.in
/*.o
/*.a
/.dirstamp
/*_files
/asn1_[A-Z]*
/gkrb5_err.h
/gkrb5_err.c
/gssapi_asn1.h
/spnego_asn1.h
/*.cbp
/*.layout
/test_acquire_cred
/test_cfx
/test_context
/test_cred
/test_kcred
/test_names
/test_ntlm
/test_oid
