/Makefile
/Makefile.in
/*.o
/*.a
/*.x
/*_files
/asn1_*_*.c
/asn1_[A-Z]*.c
/parse.h
/parse.c
/lex.c
/cms_asn1.h
/digest_asn1.h
/krb5_asn1.h
/kx509_asn1.h
/pkcs12_asn1.h
/pkcs9_asn1.h
/pkcs8_asn1.h
/pkinit_asn1.h
/rfc2459_asn1.h
/asn1_err.h
/asn1_err.c
/asn1_krb5int32.c
/asn1_krb5uint32.c
/asn1_compile
/asn1_gen
/asn1_print
/check-der
/check-gen
/test_asn1.h
/*.cbp
/*.layout
