/Makefile
/Makefile.in
/*.o
/*.a
/heim_err.*
/k524_err.*
/krb5_err.*
/krb_err.*
/krb5-protos.h
/krb5-private.h
/*.cbp
/*.layout
/aes-test
/derived-key-test
/n-fold-test
/name-45-test
/parse-name-test
/store-test
/string-to-key-test
/test_acl
/test_addr
/test_cc
/test_config
/test_crypto_wrapping
/test_hostname
/test_keytab
/test_mem
/test_pkinit_dh2key
/test_plugin
/test_prf
/test_princ
/test_rcache
/test_store
/test_time
