/Makefile
/Makefile.in
/*.o
/*.a
/*.so*
/glob.h
/make-roken
/make-roken.c
/resolve-test
/rkpty
/roken.h
/snprintf-test
/vis.h
/roken.cbp
/*.layout
/base64-test
/getaddrinfo-test
/hex-test
/parse_bytes-test
/parse_reply-test
/parse_time-test
/strpftime-test
/test-readenv
