/Makefile
/Makefile.in
/*.o
/*.a
/hcrypto
/hcrypto-link
/test_rand
/*.cbp
/*.layout
/crypto-test
/crypto-test2
/destest
/error
/mdtest
/rc2test
/rctest
/test_bn
/test_cipher
/test_crypto
/test_dh
/test_engine_dso
/test_hmac
/test_imath
/test_pkcs12
/test_pkcs5
/test_rsa
